*{
    margin: 0;
    padding: 0;
}
.backg{
    background:no-repeat url("/src/img/backg2.png");
    background-size: auto 100vh;
    background-position-x:50% ;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center ;
    justify-content: center;
}
.divui-0{
    width: 50%;
    height: 50%;
    background-color: #b0ebe67c;
    backdrop-filter: blur(3.6px);
    border-radius: 8px;
}
.divui-0-1{
    display: flex;

}
@media (min-aspect-ratio: 1.8/1) {
    .backg{
        background-size:100%;
    }
    
}

